.container {
  background: #eee;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr 1fr;
  grid-auto-flow: 1fr 1fr;
  grid-auto-rows: 100px;
  grid-gap: 10px;
  display: 100vh;
}

.box {
  background-color: red;
  display: block;
}

@media (400px <= width <= 800px) {
  .container {
    background: plum;
  }
}
